/* Starting the css by applying the same font to the entire webpage */
* { 
    font-family: Arial, Helvetica, sans-serif;
}

/* Flex is best used for our header as it is best for horizontal positioning */ 
.header {
    display: flex;
    justify-content: space-between; /* this gives the desired spacing between all elements */ 
    align-items: center; /* all items are vertically centered relative to the div container */
    padding: 1rem; /* needed to create space inside the header box */ 
}

.text-container {
    display: flex; /* this gives us that inline layout that the picture has */
    gap: 4rem; /*important gap measurement for the spacing of texts*/
    align-items: center; /*applying center to align my text with my large text and search bar otherwise it shifts up*/
}

.large-text {
    color: #A52A2A;
    font-size: 40px;
    font-weight: bold;
}

.text {
    color: purple; 
}

.text:hover {
    color: #A52A2A;
    font-size: 15px;
    text-decoration: underline;
    transition: 0;
}

h1 {
    text-align: center;
}

.content {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    gap: 20px; 
}

.box {
    flex: 1; 
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #A52A2A;
    height: auto;
    margin: 10px;
}
  
.box-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px; 
    flex-grow: 1;
}
  
.booktext {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .booktext h4,
  .booktext h5 {
    margin: 10px;
  }
  
  .booktext p {
    font-size: .9rem;
    margin: 10px;

  }
  
  .box img {
    width: 150px; 
    height: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9);
  }
  
  button {
    width: 150px; 
    padding: 10px 20px;
    background-color: #A52A2A;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    align-self: flex-start;;
  }
  
  button:hover {
    background-color: white;
    color: #800080;
    border: 2px solid #800080;
  }

  footer {
    padding: 20px 0;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    gap: 60px; 
  }

  .footer-section.company {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 40px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #A52A2A;
    text-decoration: underline;
}

.footer-section.connect {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
   display: flex;
   gap: 40px;
}

.connect i {
    color: black;
}


@media screen and (max-width: 700px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .text-container {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }

    .search-container{
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: flex-start;
    }

    .search-bar {
        width: 90%;
    }

    .content {
      flex-direction: column; 
      gap: 1rem; 
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        border: none;
    }
  
    .box-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      width: 100%;
    }
  
    .box img {
      width: 100px; 
      height: auto;
    }

    .booktext {
        flex-direction: column;
        justify-content: right;
        font-size: .9rem;
    }
  
    button {
      align-self: left; 
      width: auto;
    }
  }
  
